<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="funding.dao.face.ChatDao">
 
    <select id="selectChatRoomByroomId" parameterType="int" resultType="funding.dto.ChatRoom">
        SELECT * FROM chat_room 
        WHERE project_no = #{projectNo} 
    </select>
    
    <insert id="insertChatRoom" parameterType="int">
        INSERT INTO chat_room VALUES(CHATROOM_ID_SEQ.NEXTVAL, #{projectNo} )
    </insert>
    
    <select id="selectProject" parameterType="int" resultType="funding.dto.Project">
	SELECT project_title FROM project
    WHERE project_no = #{projectNo}

	</select>
    
</mapper>
 